# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
**/pubspec.lock
**/doc/api/
.dart_tool/
**/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/.flutter-plugins
**/.flutter-plugins-dependencies

# Ignore ALL build folders anywhere in the project
build/
**/build/
/coverage/

# Android nested ignores
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/src/main/google-services.json

# iOS nested ignores
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec